/* Font */
*{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: Poppins;
}
h1, h2, h3, h4{
    color: #75A2BD;
}

h1, h2, h3{
    color: #75A2BD;
    text-align: center;
}
h2{font-size: 32px;
    padding-top: 20px;
    padding-bottom: 20px;
}

p:not(.description){
    padding-left: 10%;
    padding-right: 10%;
    line-height: 26pt;
    font-size: 20px;
}
/* Navbar */

#header-menu{
    /* background-color: #ffffff00 !important; */
}
a#brand, a.nav-link{
    color: white;
    padding: 0;
    text-shadow: 2px 2px 4px #CBAEC4;
    font-size: 20px;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #52C50D;
}

.nav-item {
    text-align: center;
}

/* Carousel */

#carousel-item{
    width: 100%;
}


.text {
    color: #f2f2f2;
    font-size: 50px;
    padding: 8px 12px;
    position: absolute;
    bottom: 45%;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 570px){
.text {
    bottom: 30% !important;
}
}
/*------------ Footer------------ */

#footer-social {
    text-align: center;
}

.list-inline.social-links {
    margin-bottom: 0;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 15px;
    text-align: center;
    color: #fafafa;
    background: #75A2BD;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    margin: 20px 20px 15px 20px;
}

.social-links li a i:hover {
    background: #52C50D;
}

footer {
    background-color: white;
    padding: 25px;
    /* margin-top: 15px; */
}

/* Google Maps API */

div#map {
    min-height: 360px;
}
@media screen and (min-width:570px) {
div#map {
    min-height: 400px;
}}

div#map2 {
    min-height: 360px;
}

div#filter{
    min-height: 360px;
    border: 5px solid black;
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 100%;
    float: left;
    padding: 0px;
}  

/* Navbar section */

.nav {
    width: 100%;
    height: 100px;
    position: fixed;
    line-height: 100px;
    text-align: center;
    z-index: 1030;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: red;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #52C50D;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: red;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover, a#brand:hover{
    color: #52C50D;
}

/* Home section */

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #75A2BD;
        /*same background color of navbar*/
        background: rgba(0,0,0,0.2);
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */


@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #75A2BD;
    height: 65px;
    line-height: 65px;
}
.affix-shadow{
    text-shadow: none !important;
}

@media screen and (max-width:991px) {
    .navbar{
        height: 65px;
        line-height: 65px;
    }
    a.nav-link{
        height: 50px;
        line-height: 50px;
    }
    a#brand, a.nav-link {
    text-shadow: none;
    }

    #navbarNav{
        background-color: #75A2BD;
    }
    .nav{
        padding-top: 0; 
        padding-bottom: 0;
    }
}

@media screen and (max-width:570px) {
    .carousel-image{
        width: auto !important;
        height: calc(100vh - 50px);
     /* background-size: cover !important;  */
  background-position: center !important;}
  .text{
    bottom: 0px;
  }
}

@media screen and (min-width:570px) {
.carousel-image{
    width: 100% !important;
}}

.carousel-image{
    margin-bottom: 10px;
}

/* Testimonials */
.testimonials-clean {
  color:#313437;
  background-color:#eef4f7; 
}

.testimonials-clean p {
  color:#7d8285;
}


@media (max-width:767px) {
  .testimonials-clean h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.testimonials-clean .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.testimonials-clean .intro p {
  margin-bottom:0;
}

.testimonials-clean .people {
  padding:50px 0 20px;
}

.testimonials-clean .item {
  margin-bottom:32px;
}

@media (min-width:768px) {
  .testimonials-clean .item {
    height:220px;
  }
}

.testimonials-clean .item .box {
  padding:30px;
  background-color:#fff;
  position:relative;
}

.testimonials-clean .item .box:after {
  content:'';
  position:absolute;
  left:30px;
  bottom:-24px;
  width:0;
  height:0;
  border:15px solid transparent;
  border-width:12px 15px;
  border-top-color:#fff;
}

.testimonials-clean .item .author {
  margin-top:28px;
  padding-left:25px;
}

.testimonials-clean .item .name {
  font-weight:bold;
  margin-bottom:2px;
  color:inherit;
}

.testimonials-clean .item .title {
  font-size:13px;
  /* color:#9da9ae; */
}

.testimonials-clean .item .description {
  font-size:15px;
  margin-bottom:0;
}

.testimonials-clean .item img {
  max-width:40px;
  float:left;
  margin-right:12px;
  margin-top:-5px;
}

.welcome-img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Contact */
.btn-info{
    background-color: #75A2BD;
    border-color: #75A2BD;
}
.btn-info:hover{
    background-color: #5C89A4;
    border-color: #5C89A4;
}

/* Map Filter */
.filter{
    padding: 20px;
}

.location-info{
        display: none;
}
.location-image{width:100%;
display: none;
margin-bottom: 15px;}

@media screen and (max-width:768px) {
.location-image{
    margin-left: auto;
    margin-right: auto;
}
.filter-checkboxes{
    margin-left: auto;
    margin-right: auto;
}
}

.map-button{
    /* ref = https://stackoverflow.com/questions/1367409/how-to-make-button-look-like-a-link */
      background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.attraction-heading{
    padding-left: 10%;
}

/* Evo-Calendar */
.event-title button{
    color: #52C50D;
    /* color: #fff; */
    border: 1px solid #164255;
    border-radius: 15px;
    background-color: rgb(22 66 85);
}

@media screen and (max-width: 425px){
    .calendar-events {
    height: 200%;
   -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;}
}

.royal-navy .calendar-events{
    background-color: #75A2BD;
}
.royal-navy .calendar-sidebar{
    background-color: #75A2BD;
}

.royal-navy #eventListToggler {
    background-color: #52C50D;
    -webkit-box-shadow: 0 5px 10px -3px #52C50D;
    box-shadow: 0 5px 10px -3px #52C50D;}

.royal-navy .calendar-sidebar>span#sidebarToggler {   
    background-color: #52C50D;
    -webkit-box-shadow: 0 5px 10px -3px #52C50D;
    box-shadow: 0 5px 10px -3px #52C50D;}

.royal-navy th[colspan="7"] {
    color: #75A2BD;
}